@using PL.Models;


@model StudentViewModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        <h2>@Model.Student.StudentName</h2>
        <a asp-action="StudentEditor" asp-controller="Students" asp-route-studentId="@Model.Student.StudentId"> - edit Student</a>
        <a asp-action="StudentDelete" asp-controller="Students" asp-route-studentId="@Model.Student.StudentId">         - delete</a>
        <ul>
            @if (Model.StudentHomeworks != null)
            {
                foreach (var subItem in Model.StudentHomeworks)
                {
            <li>
                Homework Id:  @subItem.Homework.HomeworkId
                @*<a asp-action="HomeworkEditor" asp-controller="Homework" asp-route-homeworkId="@subItem.Homework.HomeworkId"> - edit Homework</a>*@
                <ul>
                    <li>Mark: @subItem.Homework.HomeworkMark</li>
                    <li>Date: @subItem.Homework.HomeworkDate.ToString("dd:MM:yyyy")</li>
                </ul>

            </li>
                }
            }
        </ul>
    </div>
</div>
